<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="com.orangehrm.listeners.TestListener"/>
    </listeners>
    <test name="SauceDemo Tests">
        <classes>
            <class name="com.orangehrm.tests.LoginTest"/>
            <class name="com.orangehrm.tests.OrderTest"/>
        </classes>
    </test>
    <test name="OrangeHRM Tests">
        <classes>
            <class name="com.orangehrm.tests.OrangeHRMTest"/>
        </classes>
    </test>
</suite>